/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


table {
    width: 80%;
    max-width: 1000px;
    font-size: 10px;
    margin: 20px;
}

thead {
    text-align: left;
    border-bottom: 1px solid darkorchid;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    background-color: darkorchid;
    color: white;
}

td {
    padding: 5px;
    border-bottom: 1px solid darkorchid;
    text-align: right;
}

td:first-child {
    font-weight: bold;
    font-size: 12px;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.graph {
    width: 70%;
    min-width: 500px;
    max-width: 1000px;
    margin: 20px;
}

hr {
    border-top: 1px solid whitesmoke;
    margin-bottom: 10px;
}

h2 {
    margin: 15px;
    color: darkturquoise;
}

h3 {
    margin: 15px;
    color: darkturquoise;
}

p {
    margin: 15px;
}

/*legend-styling*/
.city-languages {
    font-size: 12px;
    list-style-type: none;
    float: right;
}

.legend-color-box {
    height: 10px;
    width: 10px;
    float: left;
    margin-right: 5px;
}

.city-selection {
    background-color: paleturquoise;
    margin: 5px;
}


